assets/templates/contacto.pug
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Contacto
	link(rel="shortcut icon", href="./favicon.ico")
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head

body
	include global/header
	main
		section(style="background-image: url('img/back-contacto.png')" class="pb-16 px-6 lg:px-0 pt-24 lg:pt-32").contacto
			.container-mx-auto
				.contacto-content(class="lg:w-6/12 lg:mx-auto")
					.text-center
						h2.font-cormorant(class="lg:mb-8") Ubicación
					article
						p.text-center Somos un estudio webcam totalmente legal, ubicado al Norte de la  hermosa ciudad Santiago de Cali, posicionado estratégicamente junto a la glamurosa avenida sexta, de fácil acceso desde y hacia la Terminal de Transporte, centro comercial pasarela y  Estaciones de Transporte masivo MIO.
					article
						p.text-center.mt-8 Av. 5b Norte # 23dn - 36, San Vicente
						p.text-center.mt-4 Cali - Colombia
				.section-video(class="py-8")
					video(src="videoubicacion.mp4", controls)
				.section-registro(class="py-12 lg:py-16")
					p.text-center ¿QUIERES SER MODELO?
					p.text-center.mt-2 ¡NO LO PIENSES MÁS!
					a(href="https://api.whatsapp.com/send?phone=+573242784705").my-8.mx-auto COMUNÍCATE
					p.text-center ¡CONVIERTE ESTE SUEÑO EN
					p.text-center.mt-2 TU MEJOR EXPERIENCIA!


	include global/footer
	include global/footer-scripts

public/contacto.html
<!DOCTYPE html><html lang="es"></html><head><meta charset="UTF-8"/><title>MS - Contacto</title><link rel="shortcut icon" href="./favicon.ico"/><meta name="description" content="Escribe una descripción breve del proyecto"/><link rel="shortcut icon" href="favicon.ico"/><meta name="viewport" content="initial-scale=1, maximum-scale=1"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="css/estilos.css"/></head><body><div class="toobar"></div><header class="mt-4 lg:mt-0"><div class="container mx-auto"><div class="items-center flex justify-between lg:items-start"><div class="w-7/12 lg:w-3/12"><a href="./"><figure class="logo"><img src="img/logo.png" alt="logo"/><figcaption></figcaption></figure></a></div><div class="w-4/12 lg:w-9/12 xl:w-8/12"><span class="cursor-pointer header-menu-open ml-auto mr-0 lg:hidden" onclick="openMenuMobile()"><svg class="ml-auto mr-0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="35" height="35" fill="white"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path></svg></span><div class="menu-content"><span class="cursor-pointer p-2 header-menu-close lg:hidden" onclick="closeMenuMobile()"><svg stroke="currentColor" fill="none" viewbox="0 0 24 24" width="34" height="34"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></span><nav class="flex lg:justify-around" id="navigation"><a class="font-medium" href="/">Inicio</a><a class="font-medium" href="/quieres-ser-parte.html">¿Quieres ser parte?</a><a class="font-medium" href="/preguntas-frecuentes.html">Preguntas frecuentes</a><a class="font-medium" href="/contacto.html">Contacto</a></nav></div></div></div></div></header><main><section class="pb-16 px-6 lg:px-0 pt-24 lg:pt-32 contacto" style="background-image: url('img/back-contacto.png')"><div class="container-mx-auto"><div class="contacto-content lg:w-6/12 lg:mx-auto"><div class="text-center"><h2 class="font-cormorant lg:mb-8">Ubicación</h2></div><article><p class="text-center">Somos un estudio webcam totalmente legal, ubicado al Norte de la  hermosa ciudad Santiago de Cali, posicionado estratégicamente junto a la glamurosa avenida sexta, de fácil acceso desde y hacia la Terminal de Transporte, centro comercial pasarela y  Estaciones de Transporte masivo MIO.</p></article><article><p class="text-center mt-8">Av. 5b Norte # 23dn - 36, San Vicente</p><p class="text-center mt-4">Cali - Colombia</p></article></div><div class="section-video py-8"><video src="videoubicacion.mp4" controls="controls"></video></div><div class="section-registro py-12 lg:py-16"><p class="text-center">¿QUIERES SER MODELO?</p><p class="text-center mt-2">¡NO LO PIENSES MÁS!</p><a class="my-8 mx-auto" href="https://api.whatsapp.com/send?phone=+573242784705">COMUNÍCATE</a><p class="text-center">¡CONVIERTE ESTE SUEÑO EN</p><p class="text-center mt-2">TU MEJOR EXPERIENCIA!</p></div></div></section></main><a class="icon-whatsapp" href="https://api.whatsapp.com/send?phone=+573242784705"><figure><img src="img/icono-whatsapp.png" alt="icono de whatsapp"/></figure></a><footer><div class="container mx-auto"><div class="footer-content lg:flex"><article class="lg:w-4/12 mt-10"><figure class="footer-logo"><img class="mx-auto lg:mx-0" src="img/logo-footer.png" alt="logo de MS footer"/></figure></article><article class="lg:w-4/12 mt-10"><div class="lg:w-11/12 lg:mx-auto"><h3 class="text-center lg:text-left"><span class="block">¿Deseas ser parte de nuestro equipo?</span><span class="block">Eres mayor de edad deja tus datos para programarte una entrevista.</span></h3><p class="text-center mt-8">Av. 5b Norte # 23dn - 36, San Vicente</p><p class="text-center mt-4">Cali - Colombia</p></div></article><article class="lg:w-4/12 mt-10"><nav class="text-center lg:text-right"><a class="block" href="./">Inicio</a><a class="block" href="quieres-ser-parte">¿Quieres ser parte?</a><a class="block" href="preguntas-frecuentes">Preguntas Frecuentes</a><a class="block" href="contacto">Contacto</a></nav></article></div></div></footer><div class="last-footer"></div><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script><script src="js/app.js"></script></body>
