assets/templates/index.pug
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Home
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head
body
	include global/header
	main
		section.home-top
			.home-top-content.owl-carousel.owl-theme.g-carousel
				article(style="background-image: url('img/back-home-slider-1.png')" class="pt-32 lg:pt-0").flex.items-end.pb-32
					.container.mx-auto.home-top-item
						h2.text-center
							span.block FORMAMOS  TALENTOS PARA UNA DE
							span.block LAS INDUSTRIAS MÁS RÁPIDO CRECIMIENTO A
							span.block NIVEL MUNDIAL
						.text-center.mt-10
							a(href="/quiero-ser-parte").inline-block.btn-blue.font-bold SE PARTE DE MEDIASET
				article(style="background-image: url('img/back-home-slider-2.png')" class="pt-32 lg:pt-0").flex.items-end.pb-32
					.container.mx-auto.home-top-item
						h2.text-center
							span.block ¡CONVIERTE ESE SUEÑO EN TU
							span.block MEJOR EXPERIENCIA!
						.text-center.mt-10
							a(href="/quiero-ser-parte").inline-block.btn-blue.font-bold SE PARTE DE MEDIASET
				article(style="background-image: url('img/back-home-slider-3.png')" class="pt-32 lg:pt-0").flex.items-end.pb-32
					.container.mx-auto.home-top-item
						h2.text-center
							span.block ¿TIENES ALGUNA DUDA
							span.block SOBRE EL MUNDO DEL MODELAJE?
						.text-center.mt-10
							a(href="/preguntas-frecuentes").inline-block.btn-blue.font-bold PREGUNTAS FRECUENTES


		section(style="background-image: url('img/back-home-studio.png')" class="py-16 lg:py-32").home-studio
			.container.mx-auto
				h2.text-center
					span.font-cormorant(class="block md:inline") Nuestro
					span.font-cormorant-italic(class="block md:inline -mt-4 md:mt-0") estudio
				.home-studio-content.owl-carousel.owl-theme.g-carousel
					article(class="px-6 lg:px-0  lg:w-7/12 lg:ml-auto lg:mr-0")
						p.font-cormorant(class="lg:w-10/12 lg:ml-0 lg:mr-auto")
							span.font-cormorant-italic MediaSet Studio
							|  es una empresa que brinda entretenimiento para adultos a través de plataformas que ofrecen los mejores y más exclusivos servicios de la industria a nivel global. Contamos con excelentes instalaciones y un gran equipo administrativo para guiar en cada etapa del proceso a nuestras colaboradoras. Brindamos, estabilidad laboral, excelentes ingresos, horarios flexibles y pagos semanales basados en tu productividad.
						p.font-cormorant-bold(class="lg:w-10/12 lg:ml-0 lg:mr-auto mt-12") Estamos comprometidos con la mejora continua de nuestros procesos de gestión, consideramos que la capacitación inicial y constante son parte del secreto del éxito, es por eso que nos enfocamos en capacitar nuestro personal en todas las áreas del negocio. Estas capacitaciones maximizan la calidad de nuestra oferta comercial y son claves para generar una mayor productividad.
					article(class="px-6 lg:px-0 lg:w-7/12 lg:ml-auto lg:mr-0")
						p.font-cormorant(class="lg:w-10/12 lg:ml-0 lg:mr-auto") Nos enorgullece contar con la capacitación que brinda apoyo permanente y son guías en el crecimiento y asesoramiento profesional, personal, cultural y social (incluyendo el vestuario, maquillaje, actitud frente a cámara y técnicas efectivas en el arte de la conversación/seducción) de nuestro equipo de modelos.
						p.font-cormorant-bold(class="lg:w-10/12 lg:ml-0 lg:mr-auto mt-12") MediaSet Studio enseña técnicas de comunicación esenciales (verbales y no verbales) para que nuestras modelos puedan expresarse de manera fácil, dinámica y sugestiva con nuestros clientes. La empresa busca ofrecer una experiencia mágica y única día tras día, nuestras modelos son las protagonistas principales de este proceso y las apoyamos en todo lo que podemos. Como empresa orientada al logro, apoyamos a nuestros colaboradores en el logro de sus metas personales, profesionales, financieras, sociales y culturales.
					article(class="px-6 lg:px-0 lg:w-7/12 lg:ml-auto lg:mr-0")
						p.font-cormorant(class="lg:w-10/12 lg:ml-0 lg:mr-auto") MediaSet Studio ofrece asesoría personalizada durante cada turno, capacitaciones (inicial y constante), horarios definidos los cuales permiten. cumplir todos los días un número exacto de horas y un plan de trabajo que permite que nuestro equipo cumpla con sus metas y objetivos. Contamos con un equipo de trabajo disciplinado, leal, serio y comprometido que se enfoca en cumplir estas metas.


		section.home-casos-exito(class="pt-16 pb-16 lg:pt-20 lg:pb-20")
			.container.mx-auto
				.ms-title.text-center
					h2 CASOS DE EXITO
				.home-casos-exito-content(class="lg:flex lg:justify-between")
					article(class="mx-auto lg:mx-0 mt-10 lg:mt-16")
						figure
							img(src="img/img-girl-1.png" alt=" imagen de chica 1")
					article(class="mx-auto lg:mx-0 mt-10 lg:mt-16")
						figure
							img(src="img/img-girl-2.png" alt=" imagen de chica 2")
					article(class="mx-auto lg:mx-0 mt-10 lg:mt-16")
						figure
							img(src="img/img-girl-3.png" alt=" imagen de chica 3")
		section.home-registro(class="py-16 px-6 lg:py-0 lg:py-24")
			.container.mx-auto
				.home-registro-content
					p.text-center ¿QUIERES SER MODELO?
					p.text-center.mt-2 ¡NO LO PIENSES MÁS!
					a(href="https://api.whatsapp.com/send?phone=+573242784705").my-8.mx-auto COMUNÍCATE

					p.text-center ¡CONVIERTE ESTE SUEÑO EN
					p.text-center.mt-2 TU MEJOR EXPERIENCIA!
	include global/footer
	include global/footer-scripts

public/index.html
<!DOCTYPE html><html lang="es"></html><head><meta charset="UTF-8"/><title>MS - Home</title><meta name="description" content="Escribe una descripción breve del proyecto"/><link rel="shortcut icon" href="favicon.ico"/><meta name="viewport" content="initial-scale=1, maximum-scale=1"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="css/estilos.css"/></head><body><div class="toobar"></div><header class="mt-4 lg:mt-0"><div class="container mx-auto"><div class="items-center flex justify-between lg:items-start"><div class="w-7/12 lg:w-3/12"><a href="./"><figure class="logo"><img src="img/logo.png" alt="logo"/><figcaption></figcaption></figure></a></div><div class="w-4/12 lg:w-9/12 xl:w-8/12"><span class="cursor-pointer header-menu-open ml-auto mr-0 lg:hidden" onclick="openMenuMobile()"><svg class="ml-auto mr-0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="35" height="35" fill="white"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path></svg></span><div class="menu-content"><span class="cursor-pointer p-2 header-menu-close lg:hidden" onclick="closeMenuMobile()"><svg stroke="currentColor" fill="none" viewbox="0 0 24 24" width="34" height="34"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></span><nav class="flex lg:justify-around" id="navigation"><a class="font-medium" href="/">Inicio</a><a class="font-medium" href="/quieres-ser-parte.html">¿Quieres ser parte?</a><a class="font-medium" href="/preguntas-frecuentes.html">Preguntas frecuentes</a><a class="font-medium" href="/contacto.html">Contacto</a></nav></div></div></div></div></header><main><section class="home-top"><div class="home-top-content owl-carousel owl-theme g-carousel"><article class="pt-32 lg:pt-0 flex items-end pb-32" style="background-image: url('img/back-home-slider-1.png')"><div class="container mx-auto home-top-item"><h2 class="text-center"><span class="block">FORMAMOS  TALENTOS PARA UNA DE</span><span class="block">LAS INDUSTRIAS MÁS RÁPIDO CRECIMIENTO A</span><span class="block">NIVEL MUNDIAL</span></h2><div class="text-center mt-10"><a class="inline-block btn-blue font-bold" href="/quiero-ser-parte">SE PARTE DE MEDIASET</a></div></div></article><article class="pt-32 lg:pt-0 flex items-end pb-32" style="background-image: url('img/back-home-slider-2.png')"><div class="container mx-auto home-top-item"><h2 class="text-center"><span class="block">¡CONVIERTE ESE SUEÑO EN TU</span><span class="block">MEJOR EXPERIENCIA!</span></h2><div class="text-center mt-10"><a class="inline-block btn-blue font-bold" href="/quiero-ser-parte">SE PARTE DE MEDIASET</a></div></div></article><article class="pt-32 lg:pt-0 flex items-end pb-32" style="background-image: url('img/back-home-slider-3.png')"><div class="container mx-auto home-top-item"><h2 class="text-center"><span class="block">¿TIENES ALGUNA DUDA</span><span class="block">SOBRE EL MUNDO DEL MODELAJE?</span></h2><div class="text-center mt-10"><a class="inline-block btn-blue font-bold" href="/preguntas-frecuentes">PREGUNTAS FRECUENTES</a></div></div></article></div></section><section class="py-16 lg:py-32 home-studio" style="background-image: url('img/back-home-studio.png')"><div class="container mx-auto"><h2 class="text-center"><span class="font-cormorant block md:inline">Nuestro</span><span class="font-cormorant-italic block md:inline -mt-4 md:mt-0">estudio</span></h2><div class="home-studio-content owl-carousel owl-theme g-carousel"><article class="px-6 lg:px-0  lg:w-7/12 lg:ml-auto lg:mr-0"><p class="font-cormorant lg:w-10/12 lg:ml-0 lg:mr-auto"><span class="font-cormorant-italic">MediaSet Studio</span> es una empresa que brinda entretenimiento para adultos a través de plataformas que ofrecen los mejores y más exclusivos servicios de la industria a nivel global. Contamos con excelentes instalaciones y un gran equipo administrativo para guiar en cada etapa del proceso a nuestras colaboradoras. Brindamos, estabilidad laboral, excelentes ingresos, horarios flexibles y pagos semanales basados en tu productividad.</p><p class="font-cormorant-bold lg:w-10/12 lg:ml-0 lg:mr-auto mt-12">Estamos comprometidos con la mejora continua de nuestros procesos de gestión, consideramos que la capacitación inicial y constante son parte del secreto del éxito, es por eso que nos enfocamos en capacitar nuestro personal en todas las áreas del negocio. Estas capacitaciones maximizan la calidad de nuestra oferta comercial y son claves para generar una mayor productividad.</p></article><article class="px-6 lg:px-0 lg:w-7/12 lg:ml-auto lg:mr-0"><p class="font-cormorant lg:w-10/12 lg:ml-0 lg:mr-auto">Nos enorgullece contar con la capacitación que brinda apoyo permanente y son guías en el crecimiento y asesoramiento profesional, personal, cultural y social (incluyendo el vestuario, maquillaje, actitud frente a cámara y técnicas efectivas en el arte de la conversación/seducción) de nuestro equipo de modelos.</p><p class="font-cormorant-bold lg:w-10/12 lg:ml-0 lg:mr-auto mt-12">MediaSet Studio enseña técnicas de comunicación esenciales (verbales y no verbales) para que nuestras modelos puedan expresarse de manera fácil, dinámica y sugestiva con nuestros clientes. La empresa busca ofrecer una experiencia mágica y única día tras día, nuestras modelos son las protagonistas principales de este proceso y las apoyamos en todo lo que podemos. Como empresa orientada al logro, apoyamos a nuestros colaboradores en el logro de sus metas personales, profesionales, financieras, sociales y culturales.</p></article><article class="px-6 lg:px-0 lg:w-7/12 lg:ml-auto lg:mr-0"><p class="font-cormorant lg:w-10/12 lg:ml-0 lg:mr-auto">MediaSet Studio ofrece asesoría personalizada durante cada turno, capacitaciones (inicial y constante), horarios definidos los cuales permiten. cumplir todos los días un número exacto de horas y un plan de trabajo que permite que nuestro equipo cumpla con sus metas y objetivos. Contamos con un equipo de trabajo disciplinado, leal, serio y comprometido que se enfoca en cumplir estas metas.</p></article></div></div></section><section class="home-casos-exito pt-16 pb-16 lg:pt-20 lg:pb-20"><div class="container mx-auto"><div class="ms-title text-center"><h2>CASOS DE EXITO</h2></div><div class="home-casos-exito-content lg:flex lg:justify-between"><article class="mx-auto lg:mx-0 mt-10 lg:mt-16"><figure><img src="img/img-girl-1.png" alt=" imagen de chica 1"/></figure></article><article class="mx-auto lg:mx-0 mt-10 lg:mt-16"><figure><img src="img/img-girl-2.png" alt=" imagen de chica 2"/></figure></article><article class="mx-auto lg:mx-0 mt-10 lg:mt-16"><figure><img src="img/img-girl-3.png" alt=" imagen de chica 3"/></figure></article></div></div></section><section class="home-registro py-16 px-6 lg:py-0 lg:py-24"><div class="container mx-auto"><div class="home-registro-content"><p class="text-center">¿QUIERES SER MODELO?</p><p class="text-center mt-2">¡NO LO PIENSES MÁS!</p><a class="my-8 mx-auto" href="https://api.whatsapp.com/send?phone=+573242784705">COMUNÍCATE</a><p class="text-center">¡CONVIERTE ESTE SUEÑO EN</p><p class="text-center mt-2">TU MEJOR EXPERIENCIA!</p></div></div></section></main><a class="icon-whatsapp" href="https://api.whatsapp.com/send?phone=+573242784705"><figure><img src="img/icono-whatsapp.png" alt="icono de whatsapp"/></figure></a><footer><div class="container mx-auto"><div class="footer-content lg:flex"><article class="lg:w-4/12 mt-10"><figure class="footer-logo"><img class="mx-auto lg:mx-0" src="img/logo-footer.png" alt="logo de MS footer"/></figure></article><article class="lg:w-4/12 mt-10"><div class="lg:w-11/12 lg:mx-auto"><h3 class="text-center lg:text-left"><span class="block">¿Deseas ser parte de nuestro equipo?</span><span class="block">Eres mayor de edad deja tus datos para programarte una entrevista.</span></h3><p class="text-center mt-8">Av. 5b Norte # 23dn - 36, San Vicente</p><p class="text-center mt-4">Cali - Colombia</p></div></article><article class="lg:w-4/12 mt-10"><nav class="text-center lg:text-right"><a class="block" href="./">Inicio</a><a class="block" href="quieres-ser-parte">¿Quieres ser parte?</a><a class="block" href="preguntas-frecuentes">Preguntas Frecuentes</a><a class="block" href="contacto">Contacto</a></nav></article></div></div></footer><div class="last-footer"></div><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script><script src="js/app.js"></script></body>
