assets/templates/preguntas-frecuentes.pug
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Preguntas frecuentes
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head

body
	include global/header
	main
		section(style="background-image: url('img/back-preguntas.png')" class="pb-16").preguntas
			.container-mx-auto
				div(class="lg:w-7/12 lg:mx-auto preguntas-content")
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 1
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Qué es un video chat?
						p(class="lg:pl-24") Es un servicio de entretenimiento para adultos, se ofrece a través de Páginas Web especializadas que ofrecen una oportunidad de trabajo seguro, sin contacto físico y con excelentes ingresos semanales.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 2
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Es legal la profesión de modelaje
								span webcam en Colombia?

						p(class="lg:pl-24") Sí, es un trabajo digno desarrollado de forma profesional y voluntaria. Es necesario que cada candidata conozca las características del trabajo como modelo webcam y cumpla con los siguientes requisitos: ser mayor de edad Mayor de 18 Años) y tener la documentación legal al día.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 3
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Debo ser modelo?
						p(class="lg:pl-24") La actividad del video chat se basa principalmente en la comunicación, en la construcción de una relación en línea duradera, en captar la atención de un miembro y en mantener siempre una hermosa sonrisa. Un cuerpo hermoso puede ser una ventaja, pero no es necesario.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 4
							h2.font-cormorant(class="text-center md:text-left")
								span Si voy a la entrevista...
								span ¿Debo realizar alguna prueba?
						p(class="lg:pl-24") No tendrás que hacer ninguna prueba ni proveer ninguna evidencia durante la entrevista. La entrevista permite a las candidatas conocer las condiciones de trabajo y a nosotros como empresa verificar si cumples con los requisitos mínimos de contratación (edad, actitud, aptitud, carisma, disponibilidad de tiempo y conexión con la oferta de nuestra empresa), las entrevistas son realizadas por profesionales preparados y capacitados para realizar este tipode selección de personal. Es una entrevista laboral tradicional, incluimos un recorrido por las instalaciones de un estudio, mientras conocemos las candidatas y responderemos las preguntas que tengan.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 5
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Cómo me pagan?
						p(class="lg:pl-24") La empresa realiza pagos semanales, dependiendo de lo que cada modelo haya facturado. Somos transparentes, que significa que cada modelo puede ver en cualquier momento cuántas horas ha estado activa en la plataforma, la facturación y qué comisión recibe. La comisión mínima es de 50%. Existen otros beneficios adicionales por cumplimiento de metas.

					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 6
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Qué pasa si la ropa en mi
								span armario no coincide?
						p(class="lg:pl-24") En cualquier trabajo el qué vestir es un reto, en este trabajo es muy importante contar con ropa sexy, lencería cómoda y creativa. Para comenzar recomendamos acudir a esa blusa coqueta de tu armario, una que creas que favorece tu cuerpo y te hace sentir atractiva. Una vez que tengas algo de experiencia, los entrenadores te ayudarán a vestirte, manejar tus accesorios y mejorar tu presencia frente a cámara.
					article(class="px-6 lg:px-0")
						.flex
							strong(class="hidden md:block") 7
							h2.font-cormorant(class="text-center md:text-left")
								span ¿Qué debería decir a mi familia
								span cuando me pregunten en que trabajo?
						p(class="lg:pl-24") Hay muchas cosas que decir sobre el videochat, pero puedes convencerte de que muchas son fabulosas. Durante la entrevista y el recorrido nuestras modelos se dan cuenta que es un trabajo con integridad y que ofrece muchas perspectivas y desafios. Recomendamos decirles la verdad a tus padres, contar con su apoyo es realmente bueno. Además, las ganancias económicas que puedes obtener aquí superan muchos de los puestos de trabajo en nuestro país.

	include global/footer
	include global/footer-scripts

public/preguntas-frecuentes.html
<!DOCTYPE html><html lang="es"></html><head><meta charset="UTF-8"/><title>MS - Preguntas frecuentes</title><meta name="description" content="Escribe una descripción breve del proyecto"/><link rel="shortcut icon" href="favicon.ico"/><meta name="viewport" content="initial-scale=1, maximum-scale=1"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="css/estilos.css"/></head><body><div class="toobar"></div><header class="mt-4 lg:mt-0"><div class="container mx-auto"><div class="items-center flex justify-between lg:items-start"><div class="w-7/12 lg:w-3/12"><a href="./"><figure class="logo"><img src="img/logo.png" alt="logo"/><figcaption></figcaption></figure></a></div><div class="w-4/12 lg:w-9/12 xl:w-8/12"><span class="cursor-pointer header-menu-open ml-auto mr-0 lg:hidden" onclick="openMenuMobile()"><svg class="ml-auto mr-0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="35" height="35" fill="white"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path></svg></span><div class="menu-content"><span class="cursor-pointer p-2 header-menu-close lg:hidden" onclick="closeMenuMobile()"><svg stroke="currentColor" fill="none" viewbox="0 0 24 24" width="34" height="34"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></span><nav class="flex lg:justify-around" id="navigation"><a class="font-medium" href="/">Inicio</a><a class="font-medium" href="/quieres-ser-parte.html">¿Quieres ser parte?</a><a class="font-medium" href="/preguntas-frecuentes.html">Preguntas frecuentes</a><a class="font-medium" href="/contacto.html">Contacto</a></nav></div></div></div></div></header><main><section class="pb-16 preguntas" style="background-image: url('img/back-preguntas.png')"><div class="container-mx-auto"><div class="lg:w-7/12 lg:mx-auto preguntas-content"><article class="px-6 lg:px-0"><div class="flex"><strong class="hidden md:block">1</strong><h2 class="font-cormorant text-center md:text-left"><span>¿Qué es un video chat?</span></h2></div><p class="lg:pl-24">Es un servicio de entretenimiento para adultos, se ofrece a través de Páginas Web especializadas que ofrecen una oportunidad de trabajo seguro, sin contacto físico y con excelentes ingresos semanales.</p></article><article class="px-6 lg:px-0"><div class="flex"><strong class="hidden md:block">2</strong><h2 class="font-cormorant text-center md:text-left"><span>¿Es legal la profesión de modelaje</span><span>webcam en Colombia?</span></h2></div><p class="lg:pl-24">Sí, es un trabajo digno desarrollado de forma profesional y voluntaria. Es necesario que cada candidata conozca las características del trabajo como modelo webcam y cumpla con los siguientes requisitos: ser mayor de edad Mayor de 18 Años) y tener la documentación legal al día.</p></article><article class="px-6 lg:px-0"><div class="flex"><strong class="hidden md:block">3</strong><h2 class="font-cormorant text-center md:text-left"><span>¿Debo ser modelo?</span></h2></div><p class="lg:pl-24">La actividad del video chat se basa principalmente en la comunicación, en la construcción de una relación en línea duradera, en captar la atención de un miembro y en mantener siempre una hermosa sonrisa. Un cuerpo hermoso puede ser una ventaja, pero no es necesario.</p></article><article class="px-6 lg:px-0"><div class="flex"><strong class="hidden md:block">4</strong><h2 class="font-cormorant text-center md:text-left"><span>Si voy a la entrevista...</span><span>¿Debo realizar alguna prueba?</span></h2></div><p class="lg:pl-24">No tendrás que hacer ninguna prueba ni proveer ninguna evidencia durante la entrevista. La entrevista permite a las candidatas conocer las condiciones de trabajo y a nosotros como empresa verificar si cumples con los requisitos mínimos de contratación (edad, actitud, aptitud, carisma, disponibilidad de tiempo y conexión con la oferta de nuestra empresa), las entrevistas son realizadas por profesionales preparados y capacitados para realizar este tipode selección de personal. Es una entrevista laboral tradicional, incluimos un recorrido por las instalaciones de un estudio, mientras conocemos las candidatas y responderemos las preguntas que tengan.</p></article><article class="px-6 lg:px-0"><div class="flex"><strong class="hidden md:block">5</strong><h2 class="font-cormorant text-center md:text-left"><span>¿Cómo me pagan?</span></h2></div><p class="lg:pl-24">La empresa realiza pagos semanales, dependiendo de lo que cada modelo haya facturado. Somos transparentes, que significa que cada modelo puede ver en cualquier momento cuántas horas ha estado activa en la plataforma, la facturación y qué comisión recibe. La comisión mínima es de 50%. Existen otros beneficios adicionales por cumplimiento de metas.</p></article><article class="px-6 lg:px-0"><div class="flex"><strong class="hidden md:block">6</strong><h2 class="font-cormorant text-center md:text-left"><span>¿Qué pasa si la ropa en mi</span><span>armario no coincide?</span></h2></div><p class="lg:pl-24">En cualquier trabajo el qué vestir es un reto, en este trabajo es muy importante contar con ropa sexy, lencería cómoda y creativa. Para comenzar recomendamos acudir a esa blusa coqueta de tu armario, una que creas que favorece tu cuerpo y te hace sentir atractiva. Una vez que tengas algo de experiencia, los entrenadores te ayudarán a vestirte, manejar tus accesorios y mejorar tu presencia frente a cámara.</p></article><article class="px-6 lg:px-0"><div class="flex"><strong class="hidden md:block">7</strong><h2 class="font-cormorant text-center md:text-left"><span>¿Qué debería decir a mi familia</span><span>cuando me pregunten en que trabajo?</span></h2></div><p class="lg:pl-24">Hay muchas cosas que decir sobre el videochat, pero puedes convencerte de que muchas son fabulosas. Durante la entrevista y el recorrido nuestras modelos se dan cuenta que es un trabajo con integridad y que ofrece muchas perspectivas y desafios. Recomendamos decirles la verdad a tus padres, contar con su apoyo es realmente bueno. Además, las ganancias económicas que puedes obtener aquí superan muchos de los puestos de trabajo en nuestro país.</p></article></div></div></section></main><a class="icon-whatsapp" href="https://api.whatsapp.com/send?phone=+573242784705"><figure><img src="img/icono-whatsapp.png" alt="icono de whatsapp"/></figure></a><footer><div class="container mx-auto"><div class="footer-content lg:flex"><article class="lg:w-4/12 mt-10"><figure class="footer-logo"><img class="mx-auto lg:mx-0" src="img/logo-footer.png" alt="logo de MS footer"/></figure></article><article class="lg:w-4/12 mt-10"><div class="lg:w-11/12 lg:mx-auto"><h3 class="text-center lg:text-left"><span class="block">¿Deseas ser parte de nuestro equipo?</span><span class="block">Eres mayor de edad deja tus datos para programarte una entrevista.</span></h3><p class="text-center mt-8">Av. 5b Norte # 23dn - 36, San Vicente</p><p class="text-center mt-4">Cali - Colombia</p></div></article><article class="lg:w-4/12 mt-10"><nav class="text-center lg:text-right"><a class="block" href="./">Inicio</a><a class="block" href="quieres-ser-parte">¿Quieres ser parte?</a><a class="block" href="preguntas-frecuentes">Preguntas Frecuentes</a><a class="block" href="contacto">Contacto</a></nav></article></div></div></footer><div class="last-footer"></div><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script><script src="js/app.js"></script></body>
