assets/templates/quieres-ser-parte.pug
<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MS - Quieres ser parte
	meta(name="description", content="Escribe una descripción breve del proyecto")
	include global/head

body
	include global/header
	main
		section(style="background-image: url('img/back-home-slider-2.png')" class="pb-16").ser-parte-banner
			article(class="lg:w-7/12 lg:mx-auto")
				h2.font-cormorant(class="px-4 lg:px-0")
					p ¿Por qué elegir
					p
						| MediaSet
						span.font-cormorant-italic  Studio?
				div(class=" lg:w-9/12 px-4 lg:px-0 lg:ml-auto lg:mr-0")
					.flex.mt-3
						strong 1
						p MediaSet Studio se enfoca en ayudar a crear y desarrollar talentos para la industria del entretenimiento para adultos a través de plataformas de excelente rentabilidad económica.
					.flex.mt-8
						strong 2
						p Brindamos asesoramiento desde el primer instante para que te conviertas en una destacada Modelo de la industria webcamer, contaras con un equipo Administrativo, Audiovisual, y Técnica altamente calificado, siendo esto indispensable para la modelo en el inicio, desarrollo y estrellato de su carrera.
					.flex.mt-8
						strong 3
						p Nuestro objetivo es brindarte un apoyo constante durante toda tu carrera para que puedas resaltar en la industria webcam y así obtener los mejores resultados mes a mes impactando de forma positiva  tu estilo de vida.

		section(style="background-image: url('img/back-ser-parte-req.png')" class="py-12 lg:py-24").ser-parte-requirimientos
			.container.mx-auto
				article(class="lg:w-8/12 lg:mx-auto")
					h2.font-cormorant(class="px-4 lg:px-0") Requerimientos
					ul(class="lg:w-11/12 ml-4 lg:ml-0 pl-6 lg:ml-24 lg:mr-0 ")
						li
							p Ser mayor de edad y contar con identificación válida
							p (cédula o pasaporte).
						li
							p Conocimiento básico de inglés y habilidades básicas informáticas.
							p Tener una actitud positiva, ser una chica activa, carismática, constante, con determinación, seguridad y confianza en ti misma.
						li
							p Poder trabajar 7 horas al día, 6 días por semana entre los siguientes horarios:
							p.mt-6 6:00 am a 2:00 pm
							p.mt-6 2:00 pm a 10:00 pm
							p.mt-6 10:00 pm a 6:00 am
				.section-registro(class="py-12 px-6 lg:px-0 lg:py-16")
					p.text-center ¿QUIERES SER MODELO?
					p.text-center.mt-2 ¡NO LO PIENSES MÁS!
					a(href="https://api.whatsapp.com/send?phone=+573242784705").my-8.mx-auto COMUNÍCATE
					p.text-center ¡CONVIERTE ESTE SUEÑO EN
					p.text-center.mt-2 TU MEJOR EXPERIENCIA!
		section(style="background-image: url('img/back-ser-parte-enc.png')" class="py-12 lg:py-24").ser-parte-encontraras
			.container.mx-auto
				article(class="lg:w-9/12 lg:mx-auto")
					h2.font-cormorant(class="px-4 text-center lg:text-left lg:px-0") ¿Que encontrarás en MS?
					ul(class="ml-4 lg:ml-auto pl-6 lg:px-0 lg:w-9/12 lg:mr-auto")
						li Brindamos auxilio de transporte desde el primer día de trabajo
						li Excelentes ingresos
						li Pagos semanales
						li Habitaciones cómodas y glamurosas cada una cuenta con aire acondicionado son  espacios creados especialmente para ti.
						li Turnos laborales de 7.5 horas, 6 días de la semana
						li Capacitaciones desde el inicio que ayudarán a forjar el perfil idóneo para cada modelo.
						li Tecnología de punta y asistencia técnica en cada turno.
						li Soporte profesional (contamos con un grupo de profesional detrás de escena velando por el bienestar físico y profesional, consideramos esto esencial para maximizar el desempeño de nuestras colaboradoras)
						li Herramientas totalmente personales de trabajo que garantizaran tu excelente desempeño y generación de ingresos desde el inicio


	include global/footer
	include global/footer-scripts

public/quieres-ser-parte.html
<!DOCTYPE html><html lang="es"></html><head><meta charset="UTF-8"/><title>MS - Quieres ser parte</title><meta name="description" content="Escribe una descripción breve del proyecto"/><link rel="shortcut icon" href="favicon.ico"/><meta name="viewport" content="initial-scale=1, maximum-scale=1"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer"/><link rel="stylesheet" href="css/estilos.css"/></head><body><div class="toobar"></div><header class="mt-4 lg:mt-0"><div class="container mx-auto"><div class="items-center flex justify-between lg:items-start"><div class="w-7/12 lg:w-3/12"><a href="./"><figure class="logo"><img src="img/logo.png" alt="logo"/><figcaption></figcaption></figure></a></div><div class="w-4/12 lg:w-9/12 xl:w-8/12"><span class="cursor-pointer header-menu-open ml-auto mr-0 lg:hidden" onclick="openMenuMobile()"><svg class="ml-auto mr-0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="35" height="35" fill="white"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path></svg></span><div class="menu-content"><span class="cursor-pointer p-2 header-menu-close lg:hidden" onclick="closeMenuMobile()"><svg stroke="currentColor" fill="none" viewbox="0 0 24 24" width="34" height="34"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></span><nav class="flex lg:justify-around" id="navigation"><a class="font-medium" href="/">Inicio</a><a class="font-medium" href="/quieres-ser-parte.html">¿Quieres ser parte?</a><a class="font-medium" href="/preguntas-frecuentes.html">Preguntas frecuentes</a><a class="font-medium" href="/contacto.html">Contacto</a></nav></div></div></div></div></header><main><section class="pb-16 ser-parte-banner" style="background-image: url('img/back-home-slider-2.png')"><article class="lg:w-7/12 lg:mx-auto"><h2 class="font-cormorant px-4 lg:px-0"><p>¿Por qué elegir</p><p>MediaSet<span class="font-cormorant-italic"> Studio?</span></p></h2><div class=" lg:w-9/12 px-4 lg:px-0 lg:ml-auto lg:mr-0"><div class="flex mt-3"><strong>1</strong><p>MediaSet Studio se enfoca en ayudar a crear y desarrollar talentos para la industria del entretenimiento para adultos a través de plataformas de excelente rentabilidad económica.</p></div><div class="flex mt-8"><strong>2</strong><p>Brindamos asesoramiento desde el primer instante para que te conviertas en una destacada Modelo de la industria webcamer, contaras con un equipo Administrativo, Audiovisual, y Técnica altamente calificado, siendo esto indispensable para la modelo en el inicio, desarrollo y estrellato de su carrera.</p></div><div class="flex mt-8"><strong>3</strong><p>Nuestro objetivo es brindarte un apoyo constante durante toda tu carrera para que puedas resaltar en la industria webcam y así obtener los mejores resultados mes a mes impactando de forma positiva  tu estilo de vida.</p></div></div></article></section><section class="py-12 lg:py-24 ser-parte-requirimientos" style="background-image: url('img/back-ser-parte-req.png')"><div class="container mx-auto"><article class="lg:w-8/12 lg:mx-auto"><h2 class="font-cormorant px-4 lg:px-0">Requerimientos</h2><ul class="lg:w-11/12 ml-4 lg:ml-0 pl-6 lg:ml-24 lg:mr-0 "><li><p>Ser mayor de edad y contar con identificación válida</p><p>(cédula o pasaporte).</p></li><li><p>Conocimiento básico de inglés y habilidades básicas informáticas.</p><p>Tener una actitud positiva, ser una chica activa, carismática, constante, con determinación, seguridad y confianza en ti misma.</p></li><li><p>Poder trabajar 7 horas al día, 6 días por semana entre los siguientes horarios:</p><p class="mt-6">6:00 am a 2:00 pm</p><p class="mt-6">2:00 pm a 10:00 pm</p><p class="mt-6">10:00 pm a 6:00 am</p></li></ul></article><div class="section-registro py-12 px-6 lg:px-0 lg:py-16"><p class="text-center">¿QUIERES SER MODELO?</p><p class="text-center mt-2">¡NO LO PIENSES MÁS!</p><a class="my-8 mx-auto" href="https://api.whatsapp.com/send?phone=+573242784705">COMUNÍCATE</a><p class="text-center">¡CONVIERTE ESTE SUEÑO EN</p><p class="text-center mt-2">TU MEJOR EXPERIENCIA!</p></div></div></section><section class="py-12 lg:py-24 ser-parte-encontraras" style="background-image: url('img/back-ser-parte-enc.png')"><div class="container mx-auto"><article class="lg:w-9/12 lg:mx-auto"><h2 class="font-cormorant px-4 text-center lg:text-left lg:px-0">¿Que encontrarás en MS?</h2><ul class="ml-4 lg:ml-auto pl-6 lg:px-0 lg:w-9/12 lg:mr-auto"><li>Brindamos auxilio de transporte desde el primer día de trabajo</li><li>Excelentes ingresos</li><li>Pagos semanales</li><li>Habitaciones cómodas y glamurosas cada una cuenta con aire acondicionado son  espacios creados especialmente para ti.</li><li>Turnos laborales de 7.5 horas, 6 días de la semana</li><li>Capacitaciones desde el inicio que ayudarán a forjar el perfil idóneo para cada modelo.</li><li>Tecnología de punta y asistencia técnica en cada turno.</li><li>Soporte profesional (contamos con un grupo de profesional detrás de escena velando por el bienestar físico y profesional, consideramos esto esencial para maximizar el desempeño de nuestras colaboradoras)</li><li>Herramientas totalmente personales de trabajo que garantizaran tu excelente desempeño y generación de ingresos desde el inicio</li></ul></article></div></section></main><a class="icon-whatsapp" href="https://api.whatsapp.com/send?phone=+573242784705"><figure><img src="img/icono-whatsapp.png" alt="icono de whatsapp"/></figure></a><footer><div class="container mx-auto"><div class="footer-content lg:flex"><article class="lg:w-4/12 mt-10"><figure class="footer-logo"><img class="mx-auto lg:mx-0" src="img/logo-footer.png" alt="logo de MS footer"/></figure></article><article class="lg:w-4/12 mt-10"><div class="lg:w-11/12 lg:mx-auto"><h3 class="text-center lg:text-left"><span class="block">¿Deseas ser parte de nuestro equipo?</span><span class="block">Eres mayor de edad deja tus datos para programarte una entrevista.</span></h3><p class="text-center mt-8">Av. 5b Norte # 23dn - 36, San Vicente</p><p class="text-center mt-4">Cali - Colombia</p></div></article><article class="lg:w-4/12 mt-10"><nav class="text-center lg:text-right"><a class="block" href="./">Inicio</a><a class="block" href="quieres-ser-parte">¿Quieres ser parte?</a><a class="block" href="preguntas-frecuentes">Preguntas Frecuentes</a><a class="block" href="contacto">Contacto</a></nav></article></div></div></footer><div class="last-footer"></div><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script><script src="js/app.js"></script></body>
